
{% extends "userRoot.html" %}
{% block title %}Search Results{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages()%}
    {% if messages %}
      {%for msg in messages %}
          <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <!-- Show Results -->
  {% for note in notes %}
  <div class="card-wrapper">
    <div class="card">
      <h1 class="center"></h1>
      <form action="user/searchViaTitle" method="GET" name="userSearchResultsT_form">

        <li class="list-group-item">
          <p>
            <strong>Title:</strong> {{ note.title }}<br>
            <strong>Note:</strong> <br> {{ note.content }}<br>
            <strong>Created:</strong> {{ note.crDate }}<br>
            <strong>Key-words:</strong> {{ note.kwords }} <br>
          </p>
        </li>
        <!-- Check for errors -->
        <p class="error error--hidden"></p>
        </p>
      </form>
    </div>
  </div>
  {% endfor %}
{% endblock %}
